@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Saira Condensed", sans-serif;
  font-weight: normal;
  font-style: normal;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 0 0 34px 34px;
    z-index: 10;
}
.logo{
    height: 56px;
    width: 140px;
    object-fit: cover;
    cursor: pointer;
}
.hero{
    position: relative;
}
.hero-contain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-title{
    font-size: 80px;
    font-weight: 600;
    color: white;
}
.hero-description{
    color: #E9E9EA;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}
.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px 40px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    margin-top: 30px;
}

.links{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    color: #1D1F2C;
    font-weight: 500;
    font-size: 20px;
}
.links li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.header-img{
    width: auto;
    height: 100vh;
}
/* Sheared style */
.btn{
    padding: 12px 40px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #1D1F2C;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.btn1{
    padding: 12px 16px;
    font-size: 18px;
    font-weight: normal;
    background-color: #EAEFF2;
    color: #777980;
    cursor: pointer;
    border: none;
    border-radius: 8px 0px 0px 8px;
}
.double-button{
    display: flex;
    align-items: center;
    gap: 6px;
}
.sound-setting{
    padding: 11px 20px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
}

/* Sound Section */
.sound-container{
    padding: 80px 10%;
}

.sound-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px 34px 0 0;
    background-color: white;
}
.button-container{
    display: flex;
    justify-content: end;
    gap: 18px;
    margin-top: 18px;
}
.sound-title{
    color: #1D1F2C;
    font-size: 56px;
    font-weight: 700;
}
.sound-description{
    color: #777980;
    font-size: 18px;
}
.sound-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 40px 0px;
}
.card{
    border: 1px solid #EAEFF2;
    border-radius: 16px;
}
.card-image{
    border-radius: 12px;
    height: 80px;
}
.card-header{
    display: flex;
    align-items: center;
    gap: 16px;
}
.card-title{
    color: #1D1F2C;
    font-size: 24px;
    font-weight: 600;
}
.card-contain{
    padding: 27px;
}
.audio-container{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: #EAEFF2;
    border-radius: 24px;
    margin: 30px 0px;
}
.time{
    color: #4A4C56;
    font-size: 14px;
    font-weight: 300;
}
.card-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    margin-top: -20px;
}
.card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 0px;
    background: #EAEFF2;
    cursor: pointer;
}
.border-1{
    border-radius: 0 0 0 16px;
}
.border-3{
    border-radius: 0 0 16px 0;
}

/* Popular Sound Effect */
.popular-sound{
    padding: 80px 10%;
    background-color: #F8F2EA;
    border-radius: 34px 34px 0 0;
}
.popular-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 40px;
}
.popular-card{
    grid-column: span 2;
    position: relative;
}
.single-card{
    grid-column: span 1;
    position: relative;
}
.popular-image{
    height: 280px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.popular-title{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.popular-card-title{
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.popular-description{
    font-size: 18px;
    color: white;
}
.card-1{
    background: black;
    border-radius: 16px;
}
/* Sound Effect */
.sound-effect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sound-effect-container{
    padding: 100px 10%;
}
.sound-effect-contain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 40px;
}
.effect-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.effect-card{
    border: 1px solid #EAEFF2;
    border-radius: 16px;
}
.text-contain{
    padding:10px 24px 24px 24px;
}
.effect-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.effect-title{
    color: #1D1F2C;
    font-size: 24px;
    font-weight: 600;
}
.policy{
    padding: 10px 15px;
    background-color: #EAEFF2;
    border-radius: 45%;
    cursor: pointer;
}
.read-more{
    width: 100%;
    padding: 12px 0px;
    border: none;
    border-radius: 8px;
    background-color: #EAEFF2;
    font-weight: 600;
    color: #1D1F2C;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

/* catalog Container */
.catalog-container{
    padding: 80px 10%;
    border-radius: 34px;
    background: #F8F2EA;
}
.catalog-contain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}
.catalog-card-1{
    padding: 32px;
    background: black;
    color: white;
    border-radius:0 0 0 16px;
}
.catalog-title{
    font-size: 28px;
    font-weight: 600;
}
.catalog-card-2{
    padding: 32px;
    background: #F8FAFB;
    border-radius: 0 0 16px 0;
    border-left: 1px solid #E9E9EA;
}
.catalog-card{
    padding: 32px;
    background: #F8FAFB;
    height: 100%;
    justify-content: start;
}
.choose-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choose-container{
    padding: 80px 10%;
}
.choose-contain{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    margin-top: 40px;
}
.catalog-big{
    grid-column: span 2;
    background-color: #F8F2EA;
    border-radius: 16px;
    padding: 24px;
}
.catalog-black{
    grid-column: span 2;
    background: #010101;
    border-radius: 16px;
    padding: 24px;
    color: white;
}
.catalog-small{
    background: #F8FAFB;
    grid-column: span 1;
    padding: 24px;
    border-radius: 16px;
}
.choose-title{
    color: #1D1F2C;
    font-weight: 600;
    font-size: 24px;
}
.choose-title1{
    color: white;
    font-weight: 600;
    font-size: 24px;
}
.choose-description1{
    color: white;
    font-size: 16px;
}
.choose-description{
    color: #777980;
    font-size: 16px;
}
.contact-section{
    padding: 80px 10%;
    position: relative;
}
.contact-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contact-image{
    border-radius: 16px;
}
.contact-title{
    font-size: 56px;
    font-weight: 700;
    color: white;
}
.contact-description{
    color: white;
    font-size: 18px;
    text-align: center;
}
.contact-btn{
    padding: 12px 40px;
    background: white;
    border-radius: 8px;
    color: #1D1F2C;
    font-weight: 500;
    font-size: 18px;
    margin-top: 32px;
    border: none;
    cursor: pointer;
}
footer{
    padding: 80px 10% 0 10%;
    background-color: black;
    border-radius: 34px 34px 0 0;
}
.footer-container{
    background-image: url(images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    color: white;
}
.first-links{
    width: 33%;
}
.footer-logo{
    height: 150px;
    width: auto;
    object-fit: cover;
}
.link-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}
a{
    text-decoration: none;
    color: #DFE1E7;
}
a:hover{
    text-decoration: underline;
}
.footer-link{
    list-style: none; 
    font-size: 18px;
    margin-top: 12px; 
}
.email{
    list-style: none;
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.copy-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.copy-right p{
    color: #FFFFFF;
    font-size: 16px;
}
.media-link{
    display: flex;
    align-items: center;
    gap: 8px;
}
.icon{
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}
.mobile-menu{
    display: none;
}

@media (max-width: 768px) {

    .navbar {
        padding: 10px 5%;
    }

    .hero-title {
        font-size: 60px;
        text-align: center;
    }

    .links {
        gap: 20px;
        font-size: 18px;
    }
    .sound-cards, .sound-effect-contain, .popular-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .catalog-contain, .choose-contain  {
        grid-template-columns: 1fr;
    }
    .email{
        font-size: 24px;
    }
    .sound-container{
        padding: 80px 3%;
    }
    .audio{
        width: 65%;
    }
    .sound-title{
        font-size: 40px;
    }
    .catalog-card-2{
        border-top: 1px solid #E9E9EA;
    }
    .contact-image{
        height: 80vh;
        object-fit: cover;
    }
    .footer-container{
        gap: 24px;
    }
}

@media (max-width: 576px) {

    .navbar{
        padding: 8px 4%;
        position: relative;
    }

    #links{
    position: fixed;
    flex-direction: column;
    right: -100%;
    top: 72px;
    width: 250px;
    background: #fff;
    transition: .5s;
    padding: 20px;
    }

    #links.active{
        right: 0;
    }

    .hero-title{
        font-size: 40px;
        text-align: center;
    }

    .hero-description{
        font-size: 16px;
        padding: 0 10px;
    }

    .popular-container, .sound-cards, .sound-effect-contain, .catalog-contain, .choose-contain{
        grid-template-columns: 1fr;
    }

    .popular-header, .choose-header, .sound-contain{
        flex-direction: column;
    }
    .catalog-card-2{
        border-top: 1px solid #E9E9EA;
    }
    .sound-description{
        text-align: center;
    }
    .sound-title, .contact-title{
        text-align: center;
        font-size: 40px;
    }
    .btn{
        margin-top: 20px;
    }
    .popular-card,
    .single-card{
        grid-column: span 1;
    }
    .contact-image, .hero-banner{
        height: 100vh;
        object-fit: cover;
    }
    .footer-container{
        flex-direction: column;
        gap: 40px;
    }
    .first-links{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .email{
        font-size: 36px;
    }
    .copy-right{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .choose-container, .contact-section, .sound-container {
        padding: 40px 5%;
    }
    .catalog-small{
        grid-column: span 2;
    }
    .card-contain{
        padding: 10px;
    }
    .card-image{
        height: 60px;
    }
    .audio{
        width: 60%;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu i{
        font-size: 32px;
    }
    .sound-effect-container, .catalog-container, .popular-sound{
        padding: 80px 5%;
    }
}
